<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Threads-Style Blog</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="header">
        
        <p>Upload Your Posts Here</p>
        <a href="http://localhost:8080/posts/new">Create a post</a>

    </div>
    <div class="container">
        <% for(let post of posts) { %>
        <div class="post">
            <h3>Username: <%= post.username%></h3>
            <p>Post ID: <%= post.id %></p>
            <p>Caption: <%= post.caption %></p>
            <img src="<%= post.src  %>" alt="Post Image"> 
            
           <a class="button" href="http://localhost:8080/posts/<%= post.id %>">See in Detail</a>
           <a class="button" href="http://localhost:8080/posts/<%= post.id %>/edit">Edit</a>
           <form method="post" action="/posts/<%= post.id %>?_method=DELETE">
            <button class="buttons" type="submit">Delete</button>
           </form> 
        </div>

        <% } %> 
    </div>
</body>
</html>
